body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 360px;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 30px agba(0, 0, 0, 0.25);
}

.card h1 {
    color: #ff4d6d;
    margin-bottom: 5px;
}

.card h2 {
    color: #555;
    margin-top: 0;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px 0;
    object-fit: cover;
    border: 4px solid #ff4d6d;
}

.wish {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

button {
    margin-top: 10px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

button: hover {
    background-color: #e63950;
}
.avatar {
    width: 140px;
    height: 140px;
    background: #ff3366;
    color: white;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
